.big{
	color: green;
	text-decoration:underline;/*добовляет оформление текста можно указать больше одного стиля*/
	text-shadow: 1px 1px 1px #000000;/*добавляет тень тексту смещ.по гориз,смещ поверт,размер разм тени,цвет*/
	text-indent: 20px;/*применяется в случае создания красной строки и создает интервал между буквами т.д.*/
	word-spacing: initial;/*устанавливает интервал между словами*/
	white-space: nowrap;/*управляет свойствами пробелов между словами*/
	line-height: 20px;/*устанавливает межстрочный интервал текста*/
}
/* для того что бы класс работал только к определенным тега в классе то запись тег точка потом класс(только строчный) пример span.big{}/

/* для того что бы теги только внутри класса менялись то пишем класс потом тег пример .big span{}/

/* для обращения только к первому уровню вложенности пишем .big>p/

/* звездочка(*) означает обращение ко всем тегам на странице *{}/

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}/*меняет подсчет ширины блока для удобства верстки/

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/*убирается линии обводки в некоторых браузерах/

nav,footer,header,aside{display: block;}
/*делает теги блочными/

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*уравнивает поведение шрифтов и элементов для разных браузеров так же запрещает самовольное увеличение шрифта (например в айфонах)/
input,button,textarea{font-family:inherit;}
/*наследование семейства шрифта/

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*убирают некоторые особенности в браузерах/

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*обнуляет все заголовки/

padding-хорошо работает только с блочными тегами

margin- можно давать отрицательные значения так же плохо работает с строчными тегами

max-wight- устанавливает максимальную ширину блока(ограничевает с сужением браузера сужается и блок)

min-wight- устанавливает минимальную ширину блока и некоторых строчных

overflow-управляет отображением содержания блочного элемента visual- видно все что за пределами блока; hidden-скрывает все что вылазит за пределы блока; 	      scroll-включает скрол у блока можно просмотреть все что не поместилось в блок; auto-подключает полосы прокрутки только когда они нужны

display-многоцелевое свойство которое определяет как элемент должен быть показан в документе ; block - из строчного тега превращает в блочный; inline-делает блочный тег строчным; inline-block- действуют отступы высота и ширина; 
















