*{
	padding: 0;
	margin: 0;
	border: 0;
}


*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}



.head{
	box-sizing: border-box;
	width: 640px;
	max-width: 640px;
	margin: 50px 0px 50px 0px;
	line-height: 1.5;
}

.head__one{
display: block;
}

.head__two{
	display: block;
	margin: 0px 0px 32px 0px;
}

.head__three{
	display: block;
	margin: 34px 0;
	color: red;
}

.head__four{
	display: inline;
	margin: 0px 41px 0px 0px;
	text-align: left;
}

.body__p{
	display: inline;
}

.body__two{
	color: blue;
	display: inline-block;
	margin: 50px 35px 0px 0px;
	}

.body__three{
	display: block;
	margin-top: 32px;
}

.body__four{
display: inline;
}